@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --main-font: "Outfit", sans-serif;
  --main-page-color: #131313;
  --main-letter-color: #bbbbbb;
  --main-border-color: rgb(73, 70, 70);
  --main-color-blue: rgb(16, 101, 150);
  --main-color-red: rgb(207, 10, 10);
  --main-color-yellow: rgb(204, 207, 10);
}

.dark {
  --main-page-color: #bbbbbb;
  --main-letter-color: #131313;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}
